In [1]:
print("Hello, QH")

Hello, QH

In [1]:
print("Hello World")

Hello World

In [2]:
import seaborn as sns
import pandas as pd 
import numpy as np

In [5]:
tit = sns.load_dataset("titanic")

In [8]:
tit.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
x = "cool"

def myFirstFunc():
  print("Python is " + x)

myFirstFunc()

Python is cool

In [13]:
a = "QH"

def happy(a1,a2):  
    a = "NC"
    #a1 = "ZZ"
    print(a1)
    
happy(2,1)

2

In [19]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [24]:
x = float(10)
x = 10
print(type(x))

<class 'int'>

In [1]:

x = 27e4
y = 15E2
z = -49.8e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
z

-4.98e+101

In [5]:
x = 2+3j
y = 7j
z = -7j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [6]:
x

(2+3j)

In [11]:
x = 10 # int
y = 6.99 # float
z = 1j # complex

In [12]:
b = int(y)
b

6

In [60]:
#import random

print(random.randrange(1,10))

1

In [62]:
"hi" == 'hello'

False

In [1]:
b = "Hello, World!"
print(b[2:5])

llo

In [5]:
b = "Hello, World!"
print(b[:5])

Hello

In [8]:

a = "Hello,World!"
print(len(a))

12

In [10]:
a = "      Hello, World!         "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [11]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [13]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [15]:
a = "Hello, World!"
print(a.replace("Wor", "he"))

Hello, held!

In [18]:
a = "Hello, World!"
print(a.split(" ")) # returns ['Hello', ' World!']

['Hello,', 'World!']

In [20]:
txt = "China is a great country"
x = "ia" in txt
print(x)

False

In [21]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [22]:
age = 63
txt = "My name is Bill, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [23]:
age = 63 
txt = "My name is Bill, and I am {}"
print(txt.format(age))

My name is Bill, and I am 63

In [25]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [26]:
a = "helolo"
print(a.center())

TypeError: center expected at least 1 argument, got 0

In [28]:
txt = "banana"

x = txt.center(20)

print(x)
print(len(x))
print(x.encode())

       banana
20
b'       banana       '

In [32]:
print(bool(""))
print(bool(-1))

False
True